.content-wrap 
    width: 100%
    min-height: calc(100vh - 115px)
    position: relative
    padding: 25px
    background-color: #ffffff
    border-radius: 10px
    box-shadow: 0px 0px 5px 6px #dfdfdf
    font-family: Montserrat, "Open sans", sans-serif

.changing
    &__title,
    &__subtitle,
    &__description
        text-align: center
    &__subtitle
        margin-bottom: 15px
    &__description
        margin-bottom: 35px
    &__type
        margin-bottom: 30px
        margin: 0 auto 30px auto
        width: 600px
    &__forms-block
        margin: 0 auto
        position: relative
        width: 600px
    &__form
    &__field
        margin-bottom: 10px
    &__btn
        margin: 0 auto
    &__message
        display: block
        text-align: center
        font-size: 12px
        margin-bottom: 15px

.spliter
    padding: 10px 0

/*.import
  &__file-container
    position: relative
    width: 100%
    height: 50px
    margin-bottom: 5px
  &__file
    position: absolute
    top: 0
    left: 0
    opacity: 0
    width: 100%
    height: 100%
    &:hover
      cursor: pointer
  &__frontage
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    background-color: #f1f1f1
    color: #616161
    &_drag
      background-color: #e6e6e6
      border: 2px dotted #c2c2c2
    i
      font-size: 18px
      display: inline-block
      margin-right: 10px
    span
      font-size: 14px
  &__filename
    display: block
    margin-bottom: 5px
    color: #009dff
    font-style: italic
    font-size: 10px
    line-height: 1.2em
  &_csv
    margin-top: 10px


// Тёмная тема
.dark
  

  
@media all and (min-width: 2100px) 
  .content-wrap 
      min-height: calc(100vh - 180px)
      padding: 30px
      box-shadow: 0px 0px 10px 10px #dfdfdf

  .changing
      &__title,
      &__subtitle,
      &__description
          text-align: center
      &__subtitle
          margin-bottom: 15px
      &__description
          margin-bottom: 35px
      &__type
          margin: 0 auto 30px auto
          width: 800px
      &__forms-block
          width: 800px
      &__form
      &__field
          margin-bottom: 20px
      &__btn
          margin: 0 auto
      &__message
          font-size: 16px

@media all and (max-width: 700px)
  .changing
    &__title
       font-size: 20px
       margin-bottom: 10px
    &__description
      font-size: 13px
        margin-bottom: 25px
    &__type
        width: 500px
    &__forms-block
        width: 500px
