// Обертка
.wrap
	display: flex
	align-items: flex-start
	justify-content: space-between
	width: 100%

// Основные блоки
.sidebar,
.content
	position: relative
	padding: 25px
	background-color: #ffffff
	border-radius: 5px
	box-shadow: 0px 0px 5px 6px #dfdfdf
	font-family: Montserrat, "Open sans", sans-serif

.sidebar
	width: 260px
	height: calc(100vh - 75px)
	overflow-y: scroll
	overflow-x: hidden
	&-wrap
		width: 100%

.content
    width: calc(100% - 267px)

.agile
    min-height: calc(100vh - 115px)

.deplink
	display: flex
	align-items: flex-start
	position: relative
	font-size: 14px
	padding: 3px 5px
	border-radius: 5px
	&:hover
		background-color: #f7f7f7
		cursor: pointer
	&_active, &_active:hover
		background-color: #656565
		color: #ffffff
	&__number
		width: 35px
		color: #ff3a3a
		font-weight: 600
	&__shortname
		font-weight: 500
		width: calc( 100% - 35px )
	&__fulldepname
		position: absolute
		top: 5px
		right: -5px
	
.table
	&__items
		width: 20%
		text-align: center
		color: #000000
.metadata
	&__title
		display: block
		width: 100%
		font-size: 22px
		font-weight: 500
		margin-bottom: 15px
	&__subtitle
		font-size: 18px
		font-weight: 500	
		display: block
		margin-bottom: 15px
	&__table
		font-size: 14px
		margin-bottom: 25px
	.table__header-items
		font-weight: 500
	&__links-block
		margin-bottom: 25px
		background-color: #f7f7f7
		padding: 10px
	&__link
		display: block
		font-size: 14px
		line-height: 1em
		margin-bottom: 8px

.personal
	&__staffbox
		display: grid
		grid-template-columns: repeat(3, 1fr)
		column-gap: 10px
		row-gap: 10px
		margin-bottom: 35px
.card
	width: 350px
	border: 1px solid #ededed
	box-shadow: 2px 2px 7px 0px #ebebeb
	padding: 5px
	border-radius: 5px
	&__personal-info
		display: flex
		align-items: flex-start
		flex-grow: 1
		margin-bottom: 5px
	&__main-info
		max-width: calc(100% - 80px)
	&__fullname
		font-size: 20px
		font-weight: 500
		margin-top: -3px
		margin-bottom: 5px
		line-height: 1.2em
	&__position
		font-size: 13px
		line-height: 1em
	&__photo-box
		width: 70px
		height: calc(100% - 4px)
		margin-right: 10px
		position: relative
		&:hover .card__view-photo
			display: flex

	&__view-photo
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		display: none
		justify-content: center
		align-items: center
		background-color: #000
		opacity: 0.4
		transition: 0.4s ease-in-out
		i
			font-size: 26px
			color: #ffffff
	&__photo
		width: 100%

	&__table
		font-size: 12px
		line-height: 1.2em
		border-collapse: collapse
		&-items
			padding: 2px
			text-align: left
			display: table-cell
			vertical-align: top
		&-headers
			width: 120px


@media all and (max-width: 1600px)
	.sidebar,
	.content
		padding: 15px
	.sidebar
		width: 200px
	.content
		width: calc( 100% - 210px )

	.deplink
		font-size: 12px
		padding: 2px 3px
		&__number
			width: 25px
		&__shortname
			width: calc(100% - 25px)

	.metadata
		&__title
			font-size: 18px
		&__subtitle
			font-size: 16px
		&__link
			font-size: 12px
			margin-bottom: 5px
		&__table
			font-size: 11px

	.personal
		&__staffbox
			grid-template-columns: repeat(3, 1fr)

	.card
		width: 310px
		&__photo-box
			width: 65px
		&__fullname
			font-size: 16px
		&__position
			font-size: 11px
		&__table
			font-size: 11px
			line-height: 1em
		&__view-photo
			height: calc( 100% - 4px )
			i
				font-size: 22px
	
@media all and (max-width: 1050px)
	.sidebar,
	.content
		padding: 10px
	.sidebar
		width: 190px
		height: calc( 100vh - 65px )
	.content
		width: calc( 100% - 200px )

	.deplink
		font-size: 12px
		padding: 2px 3px
		&__number
			width: 25px
		&__shortname
			width: calc(100% - 25px)

	.metadata
		&__title
			font-size: 20px
		&__subtitle
			font-size: 16px
		&__link
			font-size: 12px

	.personal
		&__staffbox
			grid-template-columns: repeat(2, 1fr)

	.card
		width: 330px
		/*&__photo-box
			width: 65px
		&__fullname
			font-size: 18px
		&__position
			font-size: 12px
		&__table
			font-size: 12px
			line-height: 1em
		&__view-photo i
			font-size: 24px


@media all and (max-width: 800px)
	.sidebar,
	.content
		padding: 8px
	.sidebar
		width: 175px
		height: calc( 100vh - 65px )
	.content
		width: calc( 100% - 185px )

	.deplink
		font-size: 11px

	.metadata
		&__title
			font-size: 20px
			padding-top: 5px
		&__subtitle
			font-size: 15px
		&__table
			font-size: 12px

	.card
		width: 270px
		&__photo-box
			width: 55px
		&__fullname
			font-size: 15px
			line-height: 1em
		&__position
			font-size: 10px
		&__table
			font-size: 10px
			line-height: 1em
		&__table-items
			padding: 1px
		&__view-photo i
			font-size: 20px


@media all and (max-width: 700px)
	.sidebar,
	.content
		padding: 5px
	.sidebar
		width: 165px
	.content
		width: calc( 100% - 175px )

	.deplink
		font-size: 10px

	.metadata
		&__title
			font-size: 18px
			padding-top: 5px
		&__subtitle
			font-size: 14px
		&__table
			font-size: 11px

	.card
		width: 220px
		&__photo-box
			width: 50px
			margin-right: 5px
		&__fullname
			font-size: 12px
			line-height: 1.2em
			padding-top: 2px
		&__position
			font-size: 8px
		&__table
			font-size: 8px
			line-height: 1em
		&__table-items
			padding: 1px
		&__table-headers
			width: 82px
		&__view-photo
			height: calc(100% - 4px)
			i
				font-size: 20px


@media all and (max-width: 640px)
	.sidebar,
	.content
		padding: 5px
	.sidebar
		width: 145px
	.content
		width: calc( 100% - 155px )

	.deplink
		font-size: 9px
		&__number
			width: 20px
		&__shortname
			width: calc(100% - 20px)

	.metadata
		&__title
			font-size: 18px
			padding-top: 5px
		&__subtitle
			font-size: 14px
		&__table
			font-size: 11px

	.personal
		&__staffbox
			column-gap: 5px
			row-gap: 5px

	.card
		width: 215px
		&__photo-box
			width: 50px
			margin-right: 5px
		&__fullname
			font-size: 12px
			line-height: 1.2em
			padding-top: 2px
		&__position
			font-size: 8px
		&__table
			font-size: 8px
			line-height: 1em
		&__table-items
			padding: 1px
		&__table-headers
			width: 82px
		&__view-photo
			height: calc(100% - 4px)
			i
				font-size: 20px
