.department
    &-section
        display: none
        +candaraReg
    &-wrap
        display: flex
        flex-direction: column
        position: relative
    &__filter-panel
        margin-bottom: 10px
    &__list-panel
        margin-bottom: 10px
    &__title-box
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: flex-start
        width: 100%
        padding: 10px 30px 25px 30px
        background-color: #fff
    &__title
        font-size: 30px
        +candaraReg
        color: #0572a7
    &__staff-counter
        color: #ff0000
        +candaraBold
        margin-left: 5px
    &__personal-cards
        display: flex
        flex-direction: row
        align-items: stretch//flex-start
        justify-content: space-around
        flex-wrap: wrap
        //min-height: 550px
        background-color: #fff
        padding: 20px 0
    &__card
        margin-bottom: 30px
    &__timetable
        width: 250px
        margin-right: 10px
        margin-left: 10px
    &__search-block
        width: 250px
        margin-top: 10px
.timetable
    table
        border: none
        font-size: 15px
    td
        padding: 2px
    &__title
        
    &__content
        padding-left: 10px
        color: #ff3300
        font-weight: bold 
.title-wrap
    width: calc( 100% - 500px )
    display: flex
    align-items: flex-start
.personal-card
    width: 400px
    //max-height: 300px
    box-shadow: 2px 2px 20px 0px #dfdfdf
    transition: 0.3s ease
    border-left: 3px solid #0572a7
    padding: 15px
    margin-right: 10px
    position: relative
    &__main-block
        display: flex
        align-items: center
        margin-bottom: 10px
    &__photo
        width: 90px
        align-self: center
        margin-right: 10px
        &_zoom
            position: absolute
            top: 3px
            left: 3px
            width: 200px
            z-index: 200
    &__name-block
        width: calc(100% - 100px)
    &__fullname
        display: block
        font-size: 24px
        margin-bottom: 5px
    &__position
        font-size: 15px
        display: block
        +candaraBold
    &__contact-list
        list-style: none
    &__contact-items
        display: block
        margin-bottom: 5px
    &__label
        display: inline-block
        margin-right: 35px
    &__info
        color: #0572a7
    &__phone
    &__group
        +candaraBold
        font-size: 18px
    &__link
        text-decoration: none
    &__location
        color: #0572a7
    

.filter-panel
    display: flex
    background-color: #ffffff
    flex-wrap: wrap
    padding: 20px 50px
    &__btns
        font-size: 15px
        border: 1px solid #0572a7
        padding: 5px 10px
        border-radius: 3px
        margin-right: 5px
        margin-bottom: 5px
        transition: 0.2s ease-in-out
        &:active, &:focus
            outline: none
        &:hover
            cursor: pointer
            background-color: #b8e7ff
            color: #000000
        &_active
            background-color: #0075af
            color: #ffffff
        &_passive
            background-color: #ffffff
            color: #000000
.list-panel
    display: flex
    background-color: #ffffff
    flex-wrap: wrap
    padding: 10px 50px
    &__link
        display: inline-block
        margin-left: 15px
        text-decoration: underline
        color: #0572a7

#building-11:after
    content: ''
    display: block
    height: 10px
    width: 10px
    background-color: #ff0000

.dep-search
    display: flex
    align-items: center
    +candaraReg
    &__btn
        background: none
        border: none
        &:focus, &:active
            outline: none
        &:hover
            cursor: pointer
    &__search
        font-size: 14px
        border: 1px solid #cecece
        padding: 3px 25px 3px 10px
        border-radius: 3px
        &:focus, &:active
            outline: none
            border: 1px solid #112435
        &-block
            display: flex
            align-items: center
        &-btn
            display: block
            margin-left: 15px
            margin-top: 3px
            width: 25px
            &:focus, &:active
                outline: none
            &:hover
                cursor: pointer
        &-icon
            height: 14px
            display: inline-block
    &__close-btn
        background: none
        border: none
        color: #7d919b
        width: 10px
        display: inline-block
        margin-left: -20px
        margin-top: -3px