.information
    &-section
        display: none
    &-wrap
        padding: 50px
        background-color: #ffffff
        min-height: 350px
        width: 100%
        display: flex
        flex-direction: column
    &__title
        margin-bottom: 25px
    &__first-prevention
        font-size: 23px
        text-align: center
        display: block
        margin: 0 auto 30px auto
.direction
    &__title
        font-size: 22px
        text-align: center
        display: block
        margin-bottom: 20px
        text-decoration: underline
    &__list
        margin-bottom: 25px
    &__items
        font-size: 18px
        text-align: left
        line-height: 1em
        display: block
        margin-bottom: 10px
        list-style: none
        &:before
            content: '-'
            display: inline-block
            margin-right: 10px
            font-size: 20px
.information__second-prevetion
    color: #a10101
    font-size: 22px
    line-height: 1em
    text-align: center
    display: block
    margin-bottom: 35px
.notation
    &__title
        color: #013650
        font-size: 20px
        text-align: center
        display: block
        margin-bottom: 20px
        text-decoration: underline
    &__discription-list
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-around
    &__discription-items
        font-size: 18px
        margin-bottom: 20px
        margin-right: 25px
        color: #013650
        font-weight: 600
.instruction
    margin-bottom: 25px
    &__list
        display: block
        margin-bottom: 20px
    &__title
        font-size: 20px
        text-align: center
        display: block
        margin-bottom: 20px
        text-decoration: underline
    &__items
        font-size: 18px
        text-align: left
        line-height: 1.2em
        margin-bottom: 10px
    &__strong-text
        color: #013650
        display: inline-block
    &__text
        font-size: 18px
        text-align: center
        display: block
