@import 'base/fonts'
  
.overlay
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  font-family: Montserrat, "Open sans", sans-serif
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: rgba(0, 0, 0, 0.3)
  z-index: 9999

.popup
  background-color: #fff
  width: 500px
  padding: 20px
  border-radius: 5px
  position: relative
  opacity: 0
  font-family: Montserrat, "Open sans", sans-serif
  &__close-btn
    position: absolute
    top: 6px
    right: 10px
    border: none
    background: none
    font-size: 14px
    padding: 5px
    text-decoration: underline
    font-family: Montserrat, "Open sans", sans-serif
    font-weight: 600
    &:focus, &:hover
      outline: none
    &:hover
      cursor: pointer
      text-decoration: none
  &__content
    padding: 10px
  &__title
    display: block
    text-align: center
    margin-bottom: 15px
    font-size: 18px
  &__text
    display: block
    margin-bottom: 20px
    font-size: 15px
  &__contacts
    padding: 5px
    background-color: #f6f6f6
    font-size: 15px
  &__contacts-title
    display: block
    margin-bottom: 10px
  &__contacts-list
    list-style: none
    display: block
    margin-bottom: 5px
  &__contacts-item
    line-height: 1em
    td
      padding-bottom: 10px
    td:first-child
      width: 35%

.hidden
  display: none

.show
  animation: showPopup 0.4s ease-in-out 0s 1 normal forwards

.hide
  animation: hidePopup 0.4s ease-in-out 0s 1 normal forwards

@keyframes showPopup
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes hidePopup
  0%
    opacity: 1
  100%
    opacity: 0
    