.plan
    width: 100%

.map
    display: flex
    align-items: flex-start
    width: 100%
    min-height: calc(100vh - 115px)
    padding: 25px
    margin-right: 10px
    background-color: #fff
    border-radius: 10px
    box-shadow: 0px 0px 5px 6px #dfdfdf
    font-family: Montserrat, "Open sans", sans-serif
    &-wrap
        width: 70%
        position: relative
        margin: 0 auto
    &__img
        width: 100%
        z-index: 2
    &__marker-img
        position: absolute
        top: 0
        left: 0
        width: 100%
    &__marker
        fill-opacity: 0.07
        transition: 0.3s ease-in-out
        position: relative
        z-index: 1
        &_active
            fill-opacity: 0.4
        &:hover
            fill-opacity: 0.4
            cursor: pointer
    #plan
        display: block
    #plan_dark
        display: none

.factorynames
    width: 30%
    &__title
        font-size: 16px
        font-weight: 500
        margin-bottom: 10px
    &__items
        list-style: none
        font-size: 14px
        line-height: 1em
        padding: 3px
        border-radius: 3px
        transition: 0.2s ease-in-out
        &_focus,
        &_active
            background-color: rgba(0, 133, 255, 0.4)
        &:hover
            background-color: rgba(0, 133, 255, 0.4)
            cursor: pointer


// Тёмная тема
.dark
    map
    #plan
        display: none
    #plan_dark
        display: block

@media all and (min-width: 2100px)
    .map
        min-height: calc(100vh - 180px)
        box-shadow: 0px 0px 10px 10px #dfdfdf
        padding: 30px
    .factorynames
        &__title
            font-size: 22px
            margin-bottom: 15px
        &__items
            font-size: 20px
            padding: 5px
            border-radius: 5px

@media all and (max-width: 1600px)
    .map
        &-wrap
            width: 65%
    .factorynames
        width: 35%
        &__items
            font-size: 12px

@media all and (max-width: 1050px)    
    .map
        min-height: calc(100vh - 105px)
        &-wrap
            width: 70%
    .factorynames
        width: 30%
        &__items
            font-size: 12px
            padding: 2px

@media all and (max-width: 800px)
    .map
        &-wrap
            width: 65%
    .factorynames
        width: 35%
        &__items
            font-size: 11px
            padding: 2px