.plan
    display: flex
    align-items: flex-start
    width: 100%
    position: relative
    padding: 25px
    background-color: #fff
    border-radius: 5px
    box-shadow: 0px 0px 5px 6px #dfdfdf
    font-family: Montserrat, "Open sans", sans-serif
    &-wrap
        width: 100%
    &__factory-map,
    &__marker-img
        width: 100%
    &__marker-img
        padding: 25px
        position: absolute
        top: 0
        left: 0
    .map__marker
        fill-opacity: 0
        transition: 0.3s ease-in-out
        position: relative
        &:hover
            fill-opacity: 0.4
            cursor: pointer



    