.content-wrap 
    width: 100%
    min-height: calc(100vh - 115px)
    position: relative
    padding: 25px
    background-color: #ffffff
    border-radius: 5px
    box-shadow: 0px 0px 5px 6px #dfdfdf
    font-family: Montserrat, "Open sans", sans-serif

.mailing
    &__title
        text-align: center
    &__subtitle
        text-align: center
        width: 800px
        margin: 0 auto 15px auto
    &__description
        text-align: center
        width: 800px
        margin: 0 auto 35px auto
    &__table
        font-size: 14px
        margin-bottom: 15px
        &_1,
        &_2,
        &_6,
        &_7
            width: 3%
        &_3
            width: 40%
        &_4
            width: 24%
        &_5
            width: 30%

        &_8
            width: 54%
        &_9
            width: 40%
    &__btn
        margin: 0 auto

.table
    color: #000000
    &__header-items
        text-align: center
        font-weight: 500

.table-wrap
    width: 800px
    margin: 0 auto 50px

.check_all,
.check_all:hover,
.check_all:active
    padding: 0
    font-size: 15px
    width: 100%
    height: 100%
    background: none
    border: none
    transition: none
.check_all
    color: #9b9b9b
.check_all
    &_active
        color: #000000


@media all and (max-width: 800px)
    .mailing
        &__title
        &__subtitle
            width: 600px
        &__description
         width: 600px
        &__table
            font-size: 13px
            &_3
                width: 45%
            &_4
                width: 24%
            &_5
                width: 25%
    .table-wrap
        width: 600px

@media all and (max-width: 700px)
    .mailing
        &__title
            font-size: 18px
        &__subtitle
            width: 550px
        &__description
            font-size: 12px
            width: 550px
    .table-wrap
        width: 550px