.content-wrap 
    width: 100%
    min-height: calc(100vh - 115px)
    position: relative
    padding: 25px
    background-color: #ffffff
    border-radius: 5px
    box-shadow: 0px 0px 5px 6px #dfdfdf
    font-family: Montserrat, "Open sans", sans-serif

.faq
    width: 800px
    margin: 0 auto
    &__title
        text-align: center
    &__subtitle
        text-align: center
        margin: 0 auto
        margin-bottom: 15px
    &__description
        text-align: center
        margin: 0 auto
        margin-bottom: 35px
    &__links-block
        margin-bottom: 35px
        background-color: #f7f7f7
        padding: 10px
    &__link
        display: block
        font-size: 14px
        line-height: 1em
        margin-bottom: 8px
    &__question-description
        font-size: 15px
        margin-bottom: 35px
        p, ul
            margin-bottom: 10px
        li
            list-style: none
            &::before
                content: '–'
                color: #0b86d3
                display: inline-block
                margin-right: 15px
        img
            display: block
            width: 500px
            margin: 0 auto 10px

@media all and (max-width: 800px)
    .faq
        width: 600px
        &__title
            font-size: 18px
        &__subtitle
            font-size: 16px
        &__description
            font-size: 12px
        &__link
            font-size: 13px
        &__question-description
            font-size: 13px

@media all and (max-width: 700px)
    .faq
        width: 550px
        &__question-description
            img
                width: 400px