.content-wrap 
    width: 100%
    min-height: calc(100vh - 115px)
    position: relative
    padding: 25px
    background-color: #ffffff
    border-radius: 5px
    box-shadow: 0px 0px 5px 6px #dfdfdf
    font-family: Montserrat, "Open sans", sans-serif